.links{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}
.link1{
    font-family: 'Roboto' sans-serif;
    font-size:18px;
    color: #E5E7EB;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.firstp{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color:#F9FAF8;
}

.section1{
    background-color:#1F2937;
}
.signup{
    background-color:#3882F6;
    color:#F9FAF8;
    font-family: 'Roboto', sans-serif;

}
.square{
   display:block;
   width: 400px;
   border: 5px solid #3882F6;
   border-radius: 10px;
   margin: 50px;

}
.section2{
    display: flex;
    align-content: center;
    padding: 20px;
    gap: 50px;
    background-color:#F9FAF8;
}



